.sucessfullforgotpasswordemaildiv {
    display: flex;
    flex-direction: column;
    gap: 7rem;
    margin-top: 10rem;
    font-family: 'Chivo';
}

.sucessfullforgotpasswordemaildiv h1 {
    font-size: 7rem;
    margin: auto;
    width:90rem;
    font-family: 'Chivo';
    color: white;
}

.sucessfullforgotpasswordemaildiv a {
    font-size: 5rem;
    margin: auto;
    margin-left: 58rem;
    font-family: 'Chivo';
    color: white;
    background-image: linear-gradient(to right, #9b111e, coral);
    border-radius: 4rem 4rem 4rem 4rem;
    width: 40rem;
    padding: 1rem;
    border: 2px solid white;
    padding-left: 3rem;

}