.resetpassworddiv {
    width: 65rem;
    margin: auto;
    font-size: 15rem;
    margin-top: 15rem;
}

.resetpassworddiv fieldset {
    display: flex;
    flex-direction: column;
    gap: 8rem;
}

.resetpassworddiv fieldset input {
    font-family: 'Chivo';
    border: none;
    outline: none;
    border-bottom: 2px solid darkred;
}

.resetpassworddiv fieldset button {
    background-image: linear-gradient(to right, #9b111e, coral);
    color: white;
    font-family: 'Chivo';
    border: 2px solid darkred;
    cursor: pointer;
}

.resetpassworderror {
    position: absolute;
    color: darkred;
    margin-top: 6rem;
}

.resetconfpassworderror {
    position: absolute;
    color: darkred;
    margin-top: 18rem;
}