.forgotpassworddiv {
    font-size: 15rem;
    width: 65rem;
    margin: auto;
    margin-top: 15rem;
}

.forgotpassworddiv form fieldset {
    display: flex;
    flex-direction: column;
    gap: 12rem;
}

.forgotpassworddiv form fieldset button {
    cursor: pointer;
    border: 1px solid darkred;
    background-image: linear-gradient(to right, #9b111e, coral);
    color: white;
    font-family: 'Chivo';
}

.forgotpassworddiv form fieldset span {
    position: absolute;
    color: darkred;
    margin-top: 6rem;
    font-family: 'Chivo';
}

.forgotpassworddiv form fieldset input {
    font-family: 'Chivo';
    outline: none;
    border: none;
    border-bottom: 2px solid darkred;
}
