* {
    box-sizing: border-box;
    padding: 0;
    font-size: 62.5%;
    margin: 0;
    text-decoration: none;
}

body {
    background-image: url(./images/313790754_1235867363936457_1088659732252708393_n.jpg)
}