.Sucessfullresetpassworddiv {
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 10rem;
    margin-top: 20rem;
}

.Sucessfullresetpassworddiv h1 {
    font-size: 8rem;
    margin: auto;
    font-family: 'Chivo';
    color: white;
}

.Sucessfullresetpassworddiv a {
    width: 30rem;
    margin: auto;
    font-size: 5rem;
    font-family: 'Chivo';
    background-image: linear-gradient(to right, #9b111e, coral);
    border-radius: 4rem 4rem 4rem 4rem;
    color: white;
    border: 2px solid darkred;
    cursor: pointer;
    padding: 1rem;
    padding-left: 2rem;
}